.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow : 1px 1px #e9e9e9
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
}

.header_nav {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
}

.header_nav_icon {
    background-color: white;
    padding: 5px;
    height: 15px;
}

.header_option {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}